*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
header{
    height: 100vh;
    width: 100%;
    background-color: #88F2FF;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}
main{
    height: 100vh;
    background-color: darkgrey;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}
header img{
    position: absolute;
    bottom: -10%;
    height: 70%;
    right: -40%;
}
header nav {
    position: absolute;
    right: 7%;
    top: 4%;
    font-size: 3rem;
}
header hgroup{
    position: absolute;
    top: 14%;
    left: 8%;
    text-transform: uppercase;
    z-index: 1;
}
header h1 {
    font-size: 3.6rem;
}
header h3 {
    font-size: 3.6rem;
    font-weight:  400;
}
#arrow {
    width: 64px;
    height: 64px;
    border: 3px solid black;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 5rem;
    text-align: center;
    text-shadow: 0px -15px 0 black, 0 -15px 0 black;
    overflow: hidden;
    transition: 1s ease;
}
#arrow:hover {
    text-shadow: 0px -15px 0 white, 0 -15px 0 white;
    color: white;
    border-color: white;
    background-color: black;
    cursor: pointer;
}
.fa-angle-down {
    animation: arrow 1.6s infinite linear;
}

@media (orientation: portrait) {
    h3 span::after {
        content: '\A';
        white-space: pre;
    }
}

@media (orientation: landscape) {
    header {
        background-color: #01e4fa;
    }
    header img{
        position: absolute;
        bottom: 0;
        height: 60%;
        right: 0;
    }
}

@media (max-width: 320px){
    header h3 {
        font-size: 2.4rem;
    }
    header hgroup{
        transform: rotate(-15deg);
    }
}

@media(min-width: 576px){
    header h3 {font-size: 2rem}
}
@media(min-width: 768px){
    h1 {font-size: 3rem}
}
@media(min-width: 992px){
    h1 {font-size: 4rem}
}
@media(min-width: 1200px){
    h1 {font-size: 4rem}
}
@media(min-width: 1600px){
    h1 {font-size: 4rem}
}
@keyframes arrow {
    0% {-webkit-transform: translateY(-80px);
        transform: translateY(-80px)
    }
    50%{-webkit-transform: translateY(0px);
        transform: translateY(-80px)
    }
    100%{-webkit-transform: translateY(80px);
        transform: translateY(80px)}
}